---
import Image from "astro/components/Image.astro";
import LogoTJL from "../assets/logos/LogoTJL.webp";
---

<nav
  class="bg-gray-800 text-white px-6 py-5 grid gap-3 sm:flex sm:justify-between sm:items-center"
  aria-label="Primary Navigation"
>
  <div class="flex items-center gap-3">
    <Image
      src={LogoTJL}
      alt="Logotipo de Talleres J. Longo, S.L."
      class="w-20 h-20 flex-shrink-0"
      format="webp"
      loading="eager"
    />
    <h1 class="text-lg font-medium">
      <span class="sr-only">Nombre de la empresa:</span>
      TALLERES <strong class="font-semibold">J.LONGO, S.L.</strong>
    </h1>
  </div>
  <address class="text-sm not-italic">
    <p class="text-sm">Contacto: 986 50 55 11 // 633 43 96 86</p>
  </address>
</nav>
