---
import Image from "astro/components/Image.astro";
import planosTaladro from "../assets/Images/planosTaladro.webp";
import soldador from "../assets/Images/soldador.webp";
import BotonContacto from "./BotonContacto.astro";
---

<section
  class="grid lg:flex place-items-center text-white bg-tallerGrisOscuro place-content-center pb-16 gap-8"
  aria-labelledby="services-heading"
>
  <div class="flex max-w-[1920px] items-center lg:gap-4">
    <Image
      class="w-1/2 h-[281px] object-cover"
      src={planosTaladro}
      alt="Planos técnicos en un taladro de precisión"
      loading="lazy"
    />
    <Image
      class="w-1/2 h-[281px] object-cover"
      src={soldador}
      alt="Un soldador trabajando con equipo de protección"
      loading="lazy"
    />
  </div>
  <article class="flex flex-col gap-6 max-w-[650px] mx-6">
    <h2 id="services-heading" class="text-3xl font-semibold">
      Nuestros servicios incluyen:
    </h2>
    <p>
      Mecánica de precisión, rectificados cilíndricos y planos, trabajos de
      torno, fresa y cepillo, moldes y matrices, calderería ligera. Somos
      profesionales altamente cualificados y con amplia experiencia en el sector
      de los mecanizados y la calderería.
    </p>
    <BotonContacto />
  </article>
</section>
