---
import Image from "astro/components/Image.astro";
import planosTaladro from "../assets/Images/planosTaladro.webp";
import soldador from "../assets/Images/soldador.webp";
---

<section class="grid place-items-center">
  <div class="flex max-w-[1920px] items-center">
    <Image
      class="w-1/2 h-[281px] object-cover"
      src={planosTaladro}
      alt="planosTaladro"
    />
    <Image class="w-1/2 h-[281px] object-cover" src={soldador} alt="soldador" />
  </div>
</section>
