---
import Image from "astro/components/Image.astro";
import planosTaladro from "../assets/Images/planosTaladro.webp";
import soldador from "../assets/Images/soldador.webp";
---

<section>
  <div class="flex h-[281px]">
    <Image class="w-1/2 object-cover" src={planosTaladro} alt="planosTaladro" />
    <Image class="w-1/2 h-full object-cover" src={soldador} alt="soldador" />
  </div>
</section>
