---
import Image from "astro/components/Image.astro";
import BotonContacto from "./BotonContacto.astro";
import Trabajador from "../assets/Images/trabajador.webp";
---

<section
  class="grid lg:flex place-items-center place-content-center gap-6 p-6 text-white bg-tallerGrisOscuro"
  aria-labelledby="technology-heading"
>
  <div class="grid gap-4 rounded-2xl max-w-[650px]">
    <h2 id="technology-heading" class="text-3xl font-bold">
      Equipados con las últimas tecnologías
    </h2>
    <p>
      Nuestro equipo de expertos cuenta con más de 25 años de experiencia en el
      sector, lo que nos permite ofrecer un servicio de calidad a nuestros
      clientes. Nos enorgullecemos de nuestra atención al detalle y nuestro
      compromiso con la innovación continua.
    </p>
    <BotonContacto />
  </div>
  <Image
    src={Trabajador}
    height={600}
    alt="Trabajador especializado utilizando equipo de última tecnología"
    class="max-h-[600px] h-full object-cover"
    loading="lazy"
  />
</section>
